/* Centering and styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #7311c3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures full viewport height */
    text-align: center;
    flex-direction: column;
    color: rgb(238, 234, 234);
}

.quiz-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.play-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}
